<app-loading *ngIf="loading"></app-loading>

<div class="alert alert-secondary animated fadeIn" role="alert" *ngIf="libros?.length < 1 && !loading ">
    <h4 class="alert-heading">Búsqueda no encontrada</h4>
    <p>
        Su búsqueda  <strong class="alert-heading">{{busqueda}}</strong>  no arrojó ningún resultado. <br>
        No se encontraron productos que contengan <strong class="alert-heading">{{busqueda}}</strong>.
    </p>
</div>

<app-libros-tarjeta [libros]="libros" *ngIf="!loading"></app-libros-tarjeta>